= simple_form_for @grade do |f|
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    .row
      .col-8 = f.association :whiskey, label: false
      .col-1.pt-2 = 'or'
      .col-3
        = link_to 'Add new whiskey', new_whiskey_path, class: 'btn btn-outline-primary'
    .row
      .col-sm = f.input :taste, as: :select, collection: 1..10
      .col-sm = f.input :color, as: :select, collection: 1..10
      .col-sm = f.input :smokiness, as: :select, collection: 1..10

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
    = yield
