table.table.table-sm
  thead
    tr
      th = 'Name'
      th = 'Description'
      th = 'Taste'
      th = 'Color'
      th = 'Smokiness'
      th = 'Rated on'
      th
      th

  tbody
    - @grades.each do |grade|
      tr
        td = link_to grade.whiskey.name, grade.whiskey
        td = link_to grade.whiskey.description || '', grade.whiskey
        td = grade.taste
        td = grade.color
        td = grade.smokiness
        td = l grade.created_at.to_date
        td = link_to 'Edit', edit_grade_path(grade)
        td = link_to 'Destroy', grade, data: { confirm: 'Are you sure?' }, method: :delete

br
