.jumbotron.whiskey_background
  h3 = 'Filter grades'
  = simple_form_for @filter, url: grades_path, method: :get do |f|
    .form-inputs
      .row
        .col-lg-3.col-sm-6 = f.input :name
        .col-lg-3.col-sm-6 = f.input :description
      .row
        .col-lg-3.col-sm-4 = f.input :taste_score, as: :select, collection: Grade::SCALE, label: 'Minimum taste score'
        .col-lg-3.col-sm-4 = f.input :color_score, as: :select, collection: Grade::SCALE, label: 'Minimum color score'
        .col-lg-3.col-sm-4 = f.input :smokiness_score, as: :select, collection: Grade::SCALE, label: 'Minimum smokiness score'
      .row
        .col
          = f.submit 'Apply filter', class: 'btn btn-secondary'
          .float-right = link_to 'Add new grade', new_grade_path, class: 'btn btn-primary active'
      .row.mt-2
        .col
          .float-right = link_to 'See all whiskeys', whiskeys_path, class: 'btn btn-outline-primary active'

h1 = 'Whiskey grades'

= render 'index'
