= simple_form_for @whiskey do |f|
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :cost, collection: Whiskey::COST_OPTIONS.keys
    = f.association :category
    = f.association :country_of_origin
  .form-actions
    = f.submit 'Create', class: 'btn btn-primary'
    = yield
