.jumbotron.whiskey_background
  h3 = 'Filter whiskeys'
  = simple_form_for @filter, url: whiskeys_path, method: :get do |f|
    .form-inputs
      .row
        .col-lg-3.col-sm-6 = f.input :name
        .col-lg-3.col-sm-6 = f.input :description
      .row
        .col
          = f.submit 'Apply filter', class: 'btn btn-secondary'
          .float-right = link_to 'Add new whiskey', new_whiskey_path, class: 'btn btn-primary active'
      .row.mt-2
        .col
          .float-right = link_to 'See all grades', grades_path, class: 'btn btn-outline-primary active'

h1 = 'Listing whiskeys'

table.table.table-sm
  thead
    tr
      th = 'name'
      th = 'description'
      th = 'metacritic_score'
      th = '# metacritic score'
      th = 'cost'
      th = 'country of origin'
      th = 'category'
      th
      th
      th

  tbody
    - @whiskeys.each do |whiskey|
      tr
        td = link_to whiskey.name, whiskey
        td = whiskey.description
        td = whiskey.metacritic_score
        td = whiskey.metacritic_score_count
        td = whiskey.cost
        td = whiskey.country_of_origin&.name
        td = whiskey.category&.name
        td = link_to 'Show', whiskey
        td = link_to 'Edit', edit_whiskey_path(whiskey)
        td = link_to 'Destroy', whiskey, data: { confirm: 'Are you sure?' }, method: :delete

br
= page_entries_info @whiskeys
