p#notice = notice

h1 = @whiskey.name

table.table.table-sm
  tr
    th = 'description'
    td = @whiskey.description
  tr
    th = 'metacritic_score'
    td = @whiskey.metacritic_score
  tr
    th = 'metacritic_score_count'
    td = @whiskey.metacritic_score_count
  tr
    th = 'cost'
    td = @whiskey.cost
  tr
    th = 'country_of_origin'
    td = @whiskey.country_of_origin&.name
  tr
    th = 'category'
    td = @whiskey.category&.name

h2 = 'Grades'
- if @grades.any?
  = render '/grades/index'
- else
  p = 'Not graded yet'
= link_to 'New Grade', new_whiskey_grade_path(@whiskey), class: 'btn btn-primary'
= link_to 'Edit', edit_whiskey_path(@whiskey), class: 'btn btn-outline-primary'
= link_to 'Back', whiskeys_path, class: 'btn'
