= simple_form_for(@country) do |f|
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  .form-inputs
    = f.input :name
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
