h1 Listing countries

table.table.table-sm
  thead
    tr
      th = 'Name'
      th
      th

  tbody
    - @countries.each do |country|
      tr
        td = link_to country.name, edit_country_path(country)
        td = link_to 'Edit', edit_country_path(country)
        td = link_to 'Destroy', country, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Country', new_country_path
