// Place all the styles related to the Whiskeys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.whiskey_background {
  background-image: image_url('whiskey_grader.jpg');
  background-size: cover;
}
